/*{
margin: 0;
padding: 0;
}*/

@keyframes moving{
0%{left: -100%;


	}
100% {

left:0.9% ; 
}
}


@keyframes droping{


0% {top: -70%;
position:absolute;
left: 20%;

}

100% {
	
	top:33% ;
	position: absolute;
	
	}
}

@keyframes droping2{


0% {top: -70%;
position:absolute;
left: 35%;

}

100% {
	
	top:33% ;
	position: absolute;
	
	}
}


html
{margin: 0;
padding: 0;
font-family: Times;
font-weight: 500;
background-color: #e9f7ed;
}


/*body { background-color: blue; }*/

body{
	-webkit-user-select: none;
      -webkit-touch-callout: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
}

h2 {
text-align: center;
color: rgb(26, 125, 255);
text-shadow: 2px 2px 3px white, 1px 1px 1px black;
font-weight: 700;
font-family: Helvetica;
margin-top: 5px;
padding-right:60px;
padding-buttom:-5px;
margin-left: 40px;

}

h4 {
text-align: center;
color: black;
font-weight:300;
font-family:Times;
margin-top: -8px;
padding-right:50px;
padding-buttom:-5px;
margin-left: 50px;

}


header{
display:flex;
}


#h-child1{
Width:10%;
}

#h-child2{
Width:80%;
}

#h-child3{
Width:10%;
}

#h-child3 img{
margin:auto;
display: block;
cursor: pointer;
max-height:40px;
max-width: 40px;
}

#h-child3 img:hover{
box-shadow: 2px 2px 3px blue, 2px 2px 2px purple;
}



#life{
margin-left:10px;
margin-top:5px;
padding:5px;
background-color:white;;
text-align:center;
border-radius:50%;
border:solid red 2px;
width:30px;
}

#my-body{
display: flex;
flex-direction: column;
align-items: center;
}

#def{
display: flex;
width: 400px;
}

h2, #main-doc, #def, #alphabet, #wrong{
margin-bottom: 10px;

}

#def-b{
margin-right: 5px;
}


#main-doc{

position:relative;
animation-name: moving;
animation-duration: 4s;

}

#side-menu{
background-color: whitesmoke;
display: none;
z-index: 9;
position:fixed;
width: 200px;
top: 50px;
left: 84%;
padding: 10px;
padding-top: 0px;

}


#side-menu p{
padding: 0px;
margin: 5px;
cursor: pointer;
}

#side-menu p:hover{
color: blue;
margin-left: 8px;
}


#alphabet{
overflow-y: hidden;
position: relative;

width: 500px;
padding: 1%;
background-color: white;
box-shadow: 3px 3px  black, -2px -2px black, 1px 1px black, -1px -1px black;
border: solid rgb(26, 125, 255) 3px;

}

#main-doc input{
width: 30px;
margin: 3px;
border:0px;
border-bottom: solid blue 2px;
font-size: 27px;
background-color: #e9f7ed;
text-align: center;
/*animation-name: droping;
animation-duration: 2s;
*/
}



#alphabet button {
width: 40px;
height: 40px;
margin: 5px;
cursor: pointer;
position: relative;
font-size: 25px;
background-color: rgb(255, 155, 26);
transition: background-color 5s;
animation-name: moving;
animation-duration: 4s;
}


#alphabet button:hover{
background-color: rgba(255, 155, 26, 0.3);
box-shadow: 2px 2px black;

}

#wrong{
position: relative; 
margin-top: ;
margin-left: ;
text-align: left;
width:40%; 
}



#g-over2, #g-over{
display: none;
position: fixed;
width: 290px;
height: 170px;
top: 33%;
left: 30%;
color: white;
z-index: 10;
text-align: center;
dragabble: yes;
border-radius: 20%;
box-shadow: 5px 5px 5px black;
padding-top: 20px;
animation: droping2;
animation-duration:4s;
}

#w-word{
font-family: Arial, Times;
font-weight: 700;
}

#g-over{
background-color: red;
}

#g-over2{
background-color: green;
}

.start{
width: ;
height: 40px;
background-color: white;
cursor: pointer;
border:2px solid grey;
font-weight: 700;
border-radius: 40%;
}

.start:hover{
background-color: wheat;
}



@media(max-width:600px){
	
	h2{padding-right:30px;}
	
	
#side-menu{
width: 200px;
left: 255px;
}	
	
#wrong, #def{
width: 80%;
}

#alphabet{
overflow-y: hidden;
position: relative;
margin-right: ;
margin-left: ;
margin-top: 0; 
width: 80%;
padding: 1%;

border: solid rgb(26, 125, 255) 3px;
}


#g-over, #g-over2{
animation: droping;
animation-duration:4s;
top: 33%;
left: 10%;
}

#main-doc input{
width: 28px;
font-size: 22px;
}

}


#cover{
position: fixed;
top: 0;
left: 0;
display: none;
width: 100%;
height: 100%;
z-index: 8;
opacity: 0.2;
}




#over-txt{
margin-top: 20vw;
}